@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Wix Madefor Display';
}

nav {
    font-size: 20px;
    font-weight: 600;
}

#shop-dropdown > a:after {
    content: none;
}

/* #navbarScroll ul * {
    flex-shrink: 0;
} */

#search-bar-form {
    --background-color: rgb(242, 242, 242);
    border: 2px solid rgb(234, 234, 234);
    border-radius: 10px;
    background: var(--background-color);
}

#search-bar-form > img, #shopping-cart > img, #account > img {
    margin: .3rem;
    width: 2rem;
    opacity: .6;
}

#search-bar-input {
    border: none;
    background: var(--background-color);
}

#shopping-cart, #account {
    margin-inline: 1rem;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

#shopping-cart:after , #account:after {
    content: '';
    position: absolute;
    background: black;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    transform: scale(.1);
    transition: transform .2s ease-in-out;
}

#shopping-cart:hover:after , #account:hover:after {
    transform: scale(1);
}


/* body */

#breadcrumbs a{
    font-size: 20px;
    text-decoration: none;
}

.accordion-button:focus {
    border-color: black;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
} 


/* >> color checkboxes */

#redCheckbox {
    background-color: #e76868; /* set the background color */
    border-color: #333030; /* set the border color */
}
#blueCheckbox {
    background-color: #5978bc; /* set the background color */
    border-color: #333030; /* set the border color */
}
#yellowCheckbox {
    background-color: rgb(170, 170, 80); /* set the background color */
    border-color: #333030; /* set the border color */
}
#greenCheckbox {
    background-color: #67c461; /* set the background color */
    border-color: #333030; /* set the border color */
}


.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

/* products */

.original-price {
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
  }
  
.price-tag {
    font-weight: bold;
}

.card {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.card img {
    object-fit: cover;
    max-height: 200px;
}

.card:hover {
    transform: scale(1.05);
    border-width: 3px;
}
